.login h2 {
  text-align: center;
  margin-bottom: 0;
}

button#recover-password {
  all: unset;
  margin-top: 5%;
  transition: transform 0.3s ease;
}

button#recover-password:hover {
  all: unset;
  margin-top: 5%;
  cursor: pointer;
  transform: scale(1.05);
}

#events-modal,
#mod-profile-modal,
#delete-modal {
  flex-direction: var(--flex-direction-column);
}

.recover-modal,
#reset-modal,
#changeImg-modal,
#event-modal,
#events-modal,
#mod-profile-modal,
#delete-modal,
#confirm-delete-modal,
#event-details {
  inset: 0;
  margin: auto;
  width: min(35%, 1000px);
  padding: 3rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  display: none;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s, transform 0.5s, display 0.5s, overlay 0.5s;
  transition-behavior: allow-discrete;
}

.recover-modal::backdrop,
#reset-modal::backdrop,
#changeImg-modal::backdrop,
#event-modal::backdrop,
#events-modal::backdrop,
#mod-profile-modal::backdrop,
#delete-modal::backdrop,
#confirm-delete-modal::backdrop,
#event-details::backdrop {
  background-color: #00000074;
  transform: translate(100%);
  transition: 0.5s transform;
}

.recover-modal[open],
#reset-modal[open],
#changeImg-modal[open],
#event-modal[open],
#events-modal[open],
#mod-profile-modal[open],
#delete-modal[open],
#confirm-delete-modal[open],
#event-details[open] {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.recover-modal[open]::backdrop,
#reset-modal[open]::backdrop,
#changeImg-modal[open]::backdrop,
#event-modal[open]::backdrop,
#events-modal[open]::backdrop,
#mod-profile-modal[open]::backdrop,
#delete-modal[open]::backdrop,
#confirm-delete-modal[open]::backdrop,
#event-details[open]::backdrop {
  transform: translate(0);
}

@starting-style {
  .recover-modal[open] {
    opacity: 0;
    transform: translateY(-50%);
  }
  .recover-modal[open]::backdrop {
    transform: translate(100%);
  }
}

.modalrec_container {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

#registerbtn,
button.recover-btn {
  margin-top: 1.5rem;
}

#confirm-delete-modal > h2 {
  color: red;
}

button#close-reset,
#close-changeImg,
#close-event-modal,
.close-events-btn,
.close-mod-profile-btn,
.close-delete-btn,
.delete-yes-btn,
.leave-attend,
.close-event-btn {
  all: unset;
  border: 2px solid black;
  border-radius: 1rem;
  margin-top: 1rem;
  width: 50%;
  align-self: end;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.leave-attend {
  width: 70%;
  background-color: white;
}

button#close-reset:hover,
#close-changeImg:hover,
#close-event-modal:hover,
.close-mod-profile-btn:hover,
.close-delete-btn:hover,
.delete-yes-btn:hover,
.leave-attend:hover,
.close-event-btn:hover {
  background-color: white;
  transform: scale(1.05);
}

#new-password {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.update-pass-btn {
  margin-top: 2rem;
}

.close-pass-btn {
  width: 25%;
  align-items: center;
}

button#close-reset {
  padding: 0.5rem 0;
}

.close-mod-profile-btn {
  width: 30%;
}
