.login h2 {
  text-align: center;
  margin-bottom: 0;
}

button#recover-password {
  all: unset;
  margin-top: 5%;
  transition: transform 0.3s ease;
}

button#recover-password:hover {
  all: unset;
  margin-top: 5%;
  cursor: pointer;
  transform: scale(1.05);
}

.profileImgInput {
  width: 100%;
}

#registerbtn {
  margin-top: 1.5rem;
}

#confirm-delete-modal > h2 {
  color: red;
}

button#close-reset,
.leave-attend {
  all: unset;
  border: 2px solid black;
  border-radius: 1rem;
  margin-top: 1rem;
  width: 50%;
  align-self: end;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.leave-attend {
  width: 70%;
  background-color: white;
}

button#close-reset:hover,
.leave-attend:hover {
  background-color: white;
  transform: scale(1.05);
}

#new-password {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.update-pass-btn {
  margin-top: 2rem;
}

.close-pass-btn {
  width: 25%;
  align-items: center;
}

button#close-reset {
  padding: 0.5rem 0;
}

.close-delete-btn {
  width: 30%;
}

.delete-yes-btn {
  margin: 2%;
  align-self: center;
}
