#users-select {
  appearance: none;
  width: 70%;
  margin-top: var(--margin-1);
  border: var(--border-users-select);
  border-radius: 3em;
  padding: 0.3rem 1rem;
  text-align: left;
  font-size: 1.5rem;
  cursor: pointer;
}

#users-select:hover {
  background-color: var(--a-primary-color);
}

#confirm-del-user-modal {
  flex-direction: var(--flex-direction-column);
}

.user-to-del {
  color: var(--warning-color);
  font-size: 2rem;
  margin-top: var(--margin-1);
}

.btn-container-admin {
  width: 30%;
  padding: var(--padding-1rem);
  gap: var(--gap-1);
}

.confirm-no-del-user-btn {
  margin: 2%;
}
