.modal {
  inset: 0;
  margin: auto;
  width: min(60vw, 1000px);
  padding: 3rem 1.5rem;
  border-radius: var(--br-1rem);
  text-align: center;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal::backdrop {
  background-color: var(--backdrop-modal-color);
  transform: translate(100%);
  transition: transform 0.5s ease;
}

.modal[open] {
  opacity: 1;
  transform: translateY(0);
}

.modal:not([open]) {
  display: none;
}

.modal[open]::backdrop {
  transform: translate(0);
}
