.header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 90%;
  z-index: 1;
  justify-content: var(--justify-content-start);
  border: 1px solid red;
}

.div-logo {
  width: 30%;
  justify-content: var(--justify-content-start);
}

.div-logo > img {
  width: 60%;
  object-fit: contain;
  cursor: pointer;
}

.div-nav {
  width: 70%;
  flex-direction: var(--flex-direction-column);
}

.navBar {
  margin-top: 5%;
}

.ul-navBar {
  width: 90%;
  list-style-type: none;
  display: var(--display-flex);
  justify-content: var(--justify-content-center);
  gap: 20px;
}

#profileLink {
  color: #0056b3;
}
