.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 20%;
  margin-top: 5%;
  padding-left: var(--padding-1rem);
  gap: var(--gap-1);
  z-index: 1;
  justify-content: var(--justify-content-start);
  border: 1px solid var(--bg-night-toggle);
  border-radius: var(--br-1rem);
  background-color: var(--bg-light-color);
}

.div-logo {
  width: 20%;
}

.div-logo > img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.div-nav {
  width: 70%;
  flex-direction: var(--flex-direction-column);
  padding: var(--padding-1rem);
}

.navBar {
  margin-top: 5%;
}

.ul-navBar {
  width: 90%;
  list-style-type: none;
  display: var(--display-flex);
  justify-content: var(--justify-content-center);
  gap: 20px;
}

#profileLink {
  color: var(--fc-profile-color);
}
