/* Custom properties */
:root {
  /*! Organizar las custom properties */
  /* Display */
  --display-flex: flex;
  --flex-direction-column: column;
  --flex-wrap-wrap: wrap;
  --justify-content-center: center;
  --justify-content-start: start;
  --justify-content-end: end;
  --justify-content-sb: space-between;
  --justify-content-sa: space-around;
  --align-items-center: center;
  --align-self: start;
  --align-self: end;
  --align-self: center;

  /* Colors */
  --bg-night-toggle: #3f3f4c;
  --bg-dark-color: #121212;
  --bg-light-color: #f5f8f8;
  --bg-form-color: var(--bg-light-color);
  --bg-events-resume-color: #a0c1c9;
  --bg-events-hover-color: #85d2e5;
  --bg-attend-btn-color: #007bff;
  --bg-attend-btn-color-hover: #0056b3;
  --bg-attend-btn-color-active: #003d80;
  --bg-message-modal: #d3f1d3;

  --fc-light-mode: var(--bg-dark-color);
  --fc-dark-mode: #a5abb0;
  --fc-profile-color: #0056b3;

  --a-primary-color: indianred;
  --backdrop-modal-color: #00000074;
  --warning-color: #cc3300;
  --blueviolet-color: blueviolet;
  --loader-color: #09f;
  --label-form-focus-color: #4a90e2;
  --label-form-color: #ccc;

  --fb-color: #3b5793;

  --ig-color-1: #f09433;
  --ig-color-2: #e6683c;
  --ig-color-3: #dc2743;
  --ig-color-4: #cc2366;
  --ig-color-5: #bc1888;

  --in-color: #2764ac;

  --wa-color: #24cc63;

  /* Fonts */
  --fs-2-5-rem: 2.5rem;
  --fw-600: 600;

  /* Margin, padding, gap */
  --margin-1: 1rem;
  --margin-1-5: 1.5rem;
  --margin-2: 2rem;

  --padding-1rem: 1rem;
  --padding-2-3-rem: 2rem 3rem;

  --gap-1: 1rem;
  --gap-20-px: 20px;

  /* Border */
  --border-light: 1px solid var(--label-form-color);
  --border-dark: 1px solid var(--bg-dark-color);
  --border-users-select: 1px solid var(--blueviolet-color);

  --br-1rem: 1rem;

  /* Box-shadow */
  --bs-form: 0 10px 25px rgba(0, 0, 0, 0.1);
  --bs-message-modal: 0 2px 10px rgba(0, 0, 0, 0.1);
  --bs-toggle: 0 0 0 0 #f5f8f8, 0 0 0 3px #a5abb0, 0 0 0 35px #f5f8f8;
  --bs-events-resume-color: 2px 2px 6px rgba(0, 0, 0, 0.2);
  --bs-events-date: 2px 2px 6px rgba(0, 0, 0, 0.2);
  --bs-attend-btn: 0 4px 8px rgba(0, 0, 0, 0.1);
  --bs-attend-btn-hover: 0 6px 12px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  all: unset;
  display: inline-block;
  text-decoration: none;
  color: var(--a-primary-color);
  font-weight: var(--fw-600);
  transition: transform 0.5s ease;
  cursor: pointer;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--a-primary-color);
  transition: width 0.3s ease;
}

a:hover {
  transform: scale(1.05);
}

a:hover::after {
  width: 100%;
}

li {
  list-style-type: none;
}

#app {
  width: 100%;
  gap: var(--gap-20-px);
  text-align: center;
  flex-direction: var(--flex-direction-column);
  justify-content: var(--justify-content-sb);
}

.flex-container {
  display: var(--display-flex);
  align-items: var(--align-items-center);
  justify-content: var(--justify-content-center);
}

main {
  flex: 1;
  width: 100%;
}

.main-title {
  font-size: var(--fs-2-5-rem);
  font-weight: var(--fw-600);
  color: var(--bg-dark-color);
}

/* Register, Login forms */
.register,
.login {
  background-color: var(--bg-form-color);
  padding: var(--padding-2-3-rem);
  border-radius: var(--br-1rem);
  box-shadow: var(--bs-form);
  width: 100%;
  max-width: 400px;
}

.register h2,
.login h2 {
  text-align: start;
  margin-bottom: var(--margin-1-5);
}

form {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
}

label {
  text-align: start;
  margin-top: var(--margin-1);
  font-weight: var(--fw-600);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='file'] {
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: var(--border-light);
  border-radius: 0.5rem;
  font-size: 1rem;
}
