#events {
  width: 100%;
}

#events > h3 {
  margin: 1em auto;
}

#events-container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  gap: 20px;
  flex-direction: var(--flex-direction-column);
  flex-wrap: var(--flex-wrap-wrap);
  border: 1px solid green;
  align-items: stretch;
}

li.li-event {
  position: relative;
  border: 1px solid red;
  min-width: 200px;
  max-width: 100%;
  flex: 1 1 0;
  background-color: #a0c1c9;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.2s ease;
}

.li-event-in:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #85d2e5;
}

div.day {
  min-width: 70px;
  height: 70px;
  margin: 1rem;
  border: 1px solid red;
}

div.day p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  background-color: #f0f0f0;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

div.data {
  width: 60%;
  flex-direction: var(--flex-direction-column);
}

.event-info {
  gap: 20%;
}

.event-img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

h3.event-title {
  font-size: clamp(1.5rem, 2vw, 2rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5%;
}

p.location {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  font-weight: 700;
}

.event-btns {
  flex-direction: var(--flex-direction-column);
  padding: 0.5rem;
  gap: 0.3rem;
}

button.attend {
  position: relative;
  margin: 2%;
  align-self: end;
  background-color: #007bff;
  color: #fff;
  padding: 6px 12px;
  border: 2px solid #007bff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.attend[data-attending='true'] {
  background-color: #e74c3c;
  transform: scale(1.1);
  transition: all 0.3s ease;
  width: 20%;
}

button.attend:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button.attend:active {
  background-color: #003d80;
  box-shadow: none;
}
